<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oppo.weather.advertise.mapper.AdvertiseMapper">
    
    <sql id="column_ist">
            location_key,ad_pos,ad_link,update_time,first_class_title,
            second_class_title,ad_icon_name
    </sql>

    <insert id="uploadAd" parameterType="com.oppo.weather.advertise.model.Advertise">
        insert into t_weather_advertise_copy (location_key,ad_pos,ad_link,update_time,first_class_title,
        second_class_title,ad_icon_name)
        values(#{locationKey},#{adPos},#{adLink},#{updateTime},#{firstClassTitle},#{secondClassTitle},#{adIconName})
    </insert>

</mapper>